@font-face {
    src: url(../fonts/Cyberpunk.ttf);
    font-family: cyberpunk;
}
@font-face {
    src: url(../fonts/Tomorrow-Regular.ttf);
    font-family: tomorrow;
}

:root {
    /* CSS HEX */
    --pantone: #F3E600;
    --davys-grey: #565554;
    --baby-powder: #fafdf6;
    --black: #000000;
    --platinum: #eaebed;
    --ruby-red: #a30015;
    --blue-jeans: #35a7ff;
    --blue-ncs: #118ab2;
}

body{
    font-family: tomorrow;
    font-size: 1.25rem;
    margin: 0rem;
    padding: 0rem;
    background-color:var(--black);
    color: var(--baby-powder);
}

h1 {
    font-size: 5rem;
    font-family: cyberpunk;
    color: var(--pantone);
    text-shadow: 0.15rem 0.15rem var(--blue-ncs);
    margin: 0rem;
    padding: 0rem;
    
}

h2{
    font-size: 3rem;
    font-family: tomorrow;
    color:var(--pantone);
    margin: 0rem 0rem 0rem 3rem;
    padding: 0rem;
}

h3 {
    font-size: 2rem;
    color: var(--blue-jeans);
}

h4 {
    font-size: 1.25rem;
    color: var(--baby-powder);
    text-transform: uppercase;
}

p {
   font-size: 1.25rem;
   margin: 0rem;
   padding: 0rem; 
}

header{
    margin: 0rem;
    padding: 0rem;
}

.navContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1rem;
    background-color: var(--pantone);
    margin: 0rem;
    padding: 2rem 0rem 0rem 2rem;
}

nav>a {
    font-size: 1.5rem;
    color: black;
    background-color: var(--pantone);
    text-decoration: none;
    margin: 0rem;
    padding: 0rem 1rem 0.5rem 1rem;
}
#homeNav {
    font-family: cyberpunk;
    font-size: 3rem;
    color: var(--black);
    text-shadow: 0.10rem 0.10rem var(--blue-ncs);
}

.titleContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0rem 3rem 0rem 3rem;
    padding: 0rem;
}

.titleContainer>h1 {
    margin: 5rem 0rem 5rem 0rem;
    padding: 0rem;
}

#alecIndex {
    max-width: 40rem;
    height: auto;
    margin: 0rem;
    padding: 0rem;
}

.polygon {
    margin: 0rem;
    padding: 0rem;
    background: var(--pantone);
    clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 100%, 0 85%);
}

.clipped {
    clip-path: polygon(1% 1%, 81% 1%, 99% 19%, 99% 99%, 19% 99%, 1% 81%);
    border: 0rem solid var(--pantone);
}


.aboutMeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10rem 3rem 0rem 3rem;
    padding: 0rem;
}

.aboutMeContainer>h2 {
    flex-basis: 100%;
    margin: 0rem 0rem 2rem 0rem;
    padding: 0rem;
}

.aboutMeContainer>p {
    flex-basis: 65rem;
}

#alecAF {
    max-width: 30rem;
    height: auto;
}

.hobbyContainer {
    margin: 10rem 0rem 0rem 0rem;
    padding: 0rem;
}

.hobbyContainer>h2 {
    margin: 0rem 0rem 2rem 3rem;
    padding: 0rem;
}

.cookingContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0rem 5rem;
    margin: 2rem 3rem 0rem 3rem;
    padding: 0rem;
}

.cookingContainer>h3 {
    flex-basis: 100%;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem;
}

.cookingContainer>p {
    margin: 1rem 0rem 0rem 0rem;
    padding: 0rem;
}

.cookingContainer>h4 {
    flex-basis: 100%;
    margin: 1rem 0rem 1rem 0rem;
    padding: 0rem;
}

.cookingContainer>ol {
    margin: 0rem;
    padding: 0rem;
    list-style-position: inside;
}

ol>li {
    margin: 0rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
}

#paella{
    height: auto;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
}

table {
    border-collapse: collapse;
    margin: 0rem;
    padding: 0rem;
}
th {
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;
    color: var(--pantone);
    border: 1px solid var(--davys-grey);
}
td {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid var(--davys-grey);
}

.movieContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 2rem 3rem 0rem 3rem;
    padding: 0rem;
}

.movieContainer>h3 {
    margin: 0rem;
    padding: 0rem;
}

.movieContainer>p {
    margin: 1rem 0rem 1rem 0rem;
    padding: 0rem;
}

.movieContainer>ol {
    margin: 0rem;
    padding: 0rem;
    list-style-position: inside;
}