:root {
    /* CSS HEX */
    --united-nations-blue: #5386e4ff;
    --independence: #4c4b63ff;
    --spanish-gray: #949396ff;
    --silver-metallic: #aba8b2ff;
    --silver: #c3c3c3ff;
    --cultured: #F4F4F6;
    --black-coffee: #342e37;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: var(--cultured);
    color: var(--black-coffee);
    margin: 0rem;
    padding: 0rem;
    border 0rem;
}
h1 {
    font-size: 4rem;
    background-color: var(--united-nations-blue);
    color: var(--black-coffee);
    position: relative;
    padding: 1rem 0rem 1rem 4rem;
    border: 0rem;
    margin: 0rem;
}
h2 {
    font-size: 3rem;
    color: var(--united-nations-blue);
    background-color: var(--black-coffee);
    position: relative;
    padding: 1rem 0rem 1rem 4rem;
    margin: 0rem 63rem 0rem 0rem;
}
h3 {
    position: relative;
    font-size: 1.75rem;
    color: var(--united-nations-blue);
    margin-left: 5.0rem;
}
nav {
    position: absolute;
    top: 3.0rem;
    margin-left: 35rem;
    padding: 0rem;
}
nav>a {
    float: left;
    display: block;
    font-size: 2rem;
    padding: 0rem 1.5rem 0rem 1.5rem;
    text-decoration: none;
}
article {
    background-color: var(--cultured);
    margin: 0.0rem;
}
article.light{
    background-color: var(--silver);
    padding: 1.0rem;
}
article.dark {
    background-color: var(--black-coffee);
    padding: 1.0rem
}
p {
    font-size: 1.25rem;
    padding: 1.0rem;
}
p.level2 {
    margin-left: 5.0rem;
    padding: 0.0rem 1.0rem 0.0rem 1.0rem;
}
p.floatright {
    margin-left: 34.0rem;
    margin-right: 3.0rem;
    padding-top: 0.5rem;
}
img {
    max-width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 2.0rem;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.floatleft {
    float: left;
    margin-left: 3.5rem;
    padding-top: 0.0rem;
    padding-right: 1.0rem;
    border: 0.0rem;
}
figcaption.floatleft {
    float: left;
    clear: both;
    margin-left: 3.5rem;
}
figcaption {
    margin: 0rem;
    padding: 0rem;
    position: relative;
}
figcaption.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}