:root {
    /* CSS HEX */
    --united-nations-blue: #5386e4ff;
    --independence: #4c4b63ff;
    --spanish-gray: #949396ff;
    --silver-metallic: #aba8b2ff;
    --silver: #c3c3c3ff;
    --cultured: #F4F4F6;
    --black-coffee: #342e37;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: var(--cultured);
    color: var(--black-coffee);
    margin: 0rem;
    padding: 0rem;
    border 0rem;
}
nav {
    position: absolute;
    top: 3.0rem;
    margin-left: 35rem;
    padding: 0rem;
}
nav>a {
    float: left;
    display: block;
    font-size: 2rem;
    padding: 0rem 1.5rem 0rem 1.5rem;
    text-decoration: none;
}
h1 {
    font-size: 4rem;
    background-color: var(--united-nations-blue);
    color: var(--black-coffee);
    position: relative;
    padding: 1rem 0rem 1rem 4rem;
    border: 0rem;
    margin: 0rem;
}
h2 {
    font-size: 3rem;
    color: var(--silver-metallic);
    background-color: var(--black-coffee);
    position: relative;
    padding: 1rem 0rem 1rem 4rem;
    margin: 0rem 0rem 0rem 0rem;
}
h3 {
    font-size: 1.75rem;
    color: var(--united-nations-blue);
    padding: 0rem 0rem 0rem 0rem;
    margin: 0rem 0rem 0rem 3rem;
}
h4 {
    font-size: 1.15rem;
    padding: 0rem 0rem 0rem 3rem;
    margin:inherit
}
p {
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 0rem 0rem 0rem 0rem;
}
p.indent {
    margin-left: 0.0rem;
    padding: 0.0rem 0.0rem 0.0rem 3.0rem;
}
p.floatright {
    margin-left: 34.0rem;
    margin-right: 3.0rem;
    padding-top: 0.5rem;
}
article {
    background-color: var(--cultured);
    margin: 0.0rem;
}
article.light{
    background-color: var(--silver);
    padding: 1.0rem;
}
article.dark {
    background-color: var(--black-coffee);
    color: var(--cultured);
    padding: 1.0rem
}
img {
    max-width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 2.0rem;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#aboutmeimage {
    float: left;
    margin: 1rem 0rem 0rem 1rem;
    padding: 0rem 0rem 0rem 0rem;
    border: 0rem;
}
#cookingimage {
    float: left;
    margin: 1rem 0rem 0rem 0.5rem;
    padding: 0rem 0rem 0rem 0rem;
    border-radius: 50rem;
}
#computerimage {
    position: relative;
    margin: 1rem 0rem 0rem 0.5rem;
    padding: 0rem 0rem 0rem 0rem;
    border-radius: 2rem;
}
figcaption {
    margin: 0rem;
    padding: 0rem;
    position: relative;
}
figcaption.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#aboutmecaption {
    float: left;
    clear: both;
    margin: 1rem 0rem 0rem 6rem;
    padding: 0rem 0rem 0rem 0rem;
}
#cookingcaption {
    float: left;
    clear: both;
    margin: 1rem 0rem 0rem 3rem;
    padding: 0rem 0rem 0rem 0rem;
}
#computercaption {
    position: relative;
    margin: 1rem 0rem 0rem 8.5rem;
    padding: 0rem 0rem 0rem 0rem;
}
table {
    width: 40rem;
    margin-left: 30rem;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
}
th {
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
}
td {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
}
#extratoppadding {
    padding-top: 1rem;
}
ol {
    font-size: 1.25rem;
    position: relative;
    margin: 0rem 0rem 0rem 3rem;
    padding: 0rem 0rem 0rem 0rem;
    list-style-position: inside;
}
ul {
    font-size: 1.25rem;
    position: relative;
    margin: 0rem 0rem 0rem 3rem;
    padding: 0rem 0rem 0rem 0rem;
    list-style-position: inside;
}
li{
    padding: 0.25rem 0rem 0.25rem 0rem;
}
iframe {
    position: relative;
    border: none;
    margin: 0rem 0rem 0rem 3rem;
    padding: 0rem 0rem 0rem 0rem;
}